@font-face {
    font-family:'Inria Sans';
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Light.eot');
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Light.eot?#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Light.woff2') format('woff2'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Light.woff') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'Inria Sans';
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-LightItalic.eot');
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-LightItalic.woff2') format('woff2'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-LightItalic.woff') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'Inria Sans';
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Italic.eot');
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Italic.woff2') format('woff2'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Italic.woff') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:'Inria Sans';
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Regular.eot');
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Regular.woff2') format('woff2'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Regular.woff') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Inria Sans';
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Bold.eot');
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Bold.woff2') format('woff2'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Bold.woff') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Inria Sans';
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-BoldItalic.eot');
    src:	url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-BoldItalic.woff2') format('woff2'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-BoldItalic.woff') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/InriaSans-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}




@font-face {
    font-family: 'feather';
    src:  url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/feather.eot?2t6bn1');
    src:  url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/feather.eot?2t6bn1#iefix') format('embedded-opentype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/feather.ttf?2t6bn1') format('truetype'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/feather.woff?2t6bn1') format('woff'),
    url('https://learninglab.gitlabpages.inria.fr/mooc-styleguide/fonts/feather.svg?2t6bn1#feather') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ill-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ill-icon-activity:before {
    content: "\e900";
}
.ill-icon-airplay:before {
    content: "\e901";
}
.ill-icon-alert-circle:before {
    content: "\e902";
}
.ill-icon-alert-octagon:before {
    content: "\e903";
}
.ill-icon-alert-triangle:before {
    content: "\e904";
}
.ill-icon-align-center:before {
    content: "\e905";
}
.ill-icon-align-justify:before {
    content: "\e906";
}
.ill-icon-align-left:before {
    content: "\e907";
}
.ill-icon-align-right:before {
    content: "\e908";
}
.ill-icon-anchor:before {
    content: "\e909";
}
.ill-icon-aperture:before {
    content: "\e90a";
}
.ill-icon-arrow-down-left:before {
    content: "\e90b";
}
.ill-icon-arrow-down-right:before {
    content: "\e90c";
}
.ill-icon-arrow-down:before {
    content: "\e90d";
}
.ill-icon-arrow-left:before {
    content: "\e90e";
}
.ill-icon-arrow-right:before {
    content: "\e90f";
}
.ill-icon-arrow-up-left:before {
    content: "\e910";
}
.ill-icon-arrow-up-right:before {
    content: "\e911";
}
.ill-icon-arrow-up:before {
    content: "\e912";
}
.ill-icon-at-sign:before {
    content: "\e913";
}
.ill-icon-award:before {
    content: "\e914";
}
.ill-icon-bar-chart-2:before {
    content: "\e915";
}
.ill-icon-bar-chart:before {
    content: "\e916";
}
.ill-icon-battery-charging:before {
    content: "\e917";
}
.ill-icon-battery:before {
    content: "\e918";
}
.ill-icon-bell-off:before {
    content: "\e919";
}
.ill-icon-bell:before {
    content: "\e91a";
}
.ill-icon-bluetooth:before {
    content: "\e91b";
}
.ill-icon-book:before {
    content: "\e91c";
}
.ill-icon-bookmark:before {
    content: "\e91d";
}
.ill-icon-box:before {
    content: "\e91e";
}
.ill-icon-briefcase:before {
    content: "\e91f";
}
.ill-icon-calendar:before {
    content: "\e920";
}
.ill-icon-camera-off:before {
    content: "\e921";
}
.ill-icon-camera:before {
    content: "\e922";
}
.ill-icon-cast:before {
    content: "\e923";
}
.ill-icon-check-circle:before {
    content: "\e924";
}
.ill-icon-check-square:before {
    content: "\e925";
}
.ill-icon-check:before {
    content: "\e926";
}
.ill-icon-chevron-down:before {
    content: "\e927";
}
.ill-icon-chevron-left:before {
    content: "\e928";
}
.ill-icon-chevron-right:before {
    content: "\e929";
}
.ill-icon-chevron-up:before {
    content: "\e92a";
}
.ill-icon-chevrons-down:before {
    content: "\e92b";
}
.ill-icon-chevrons-left:before {
    content: "\e92c";
}
.ill-icon-chevrons-right:before {
    content: "\e92d";
}
.ill-icon-chevrons-up:before {
    content: "\e92e";
}
.ill-icon-chrome:before {
    content: "\e92f";
}
.ill-icon-circle:before {
    content: "\e930";
}
.ill-icon-clipboard:before {
    content: "\e931";
}
.ill-icon-clock:before {
    content: "\e932";
}
.ill-icon-cloud-drizzle:before {
    content: "\e933";
}
.ill-icon-cloud-lightning:before {
    content: "\e934";
}
.ill-icon-cloud-off:before {
    content: "\e935";
}
.ill-icon-cloud-rain:before {
    content: "\e936";
}
.ill-icon-cloud-snow:before {
    content: "\e937";
}
.ill-icon-cloud:before {
    content: "\e938";
}
.ill-icon-codepen:before {
    content: "\e939";
}
.ill-icon-command:before {
    content: "\e93a";
}
.ill-icon-compass:before {
    content: "\e93b";
}
.ill-icon-copy:before {
    content: "\e93c";
}
.ill-icon-corner-down-left:before {
    content: "\e93d";
}
.ill-icon-corner-down-right:before {
    content: "\e93e";
}
.ill-icon-corner-left-down:before {
    content: "\e93f";
}
.ill-icon-corner-left-up:before {
    content: "\e940";
}
.ill-icon-corner-right-down:before {
    content: "\e941";
}
.ill-icon-corner-right-up:before {
    content: "\e942";
}
.ill-icon-corner-up-left:before {
    content: "\e943";
}
.ill-icon-corner-up-right:before {
    content: "\e944";
}
.ill-icon-cpu:before {
    content: "\e945";
}
.ill-icon-credit-card:before {
    content: "\e946";
}
.ill-icon-crosshair:before {
    content: "\e947";
}
.ill-icon-delete:before {
    content: "\e948";
}
.ill-icon-disc:before {
    content: "\e949";
}
.ill-icon-download-cloud:before {
    content: "\e94a";
}
.ill-icon-download:before {
    content: "\e94b";
}
.ill-icon-droplet:before {
    content: "\e94c";
}
.ill-icon-edit-2:before {
    content: "\e94d";
}
.ill-icon-edit-3:before {
    content: "\e94e";
}
.ill-icon-edit:before {
    content: "\e94f";
}
.ill-icon-external-link:before {
    content: "\e950";
}
.ill-icon-eye-off:before {
    content: "\e951";
}
.ill-icon-eye:before {
    content: "\e952";
}
.ill-icon-facebook:before {
    content: "\e953";
}
.ill-icon-fast-forward:before {
    content: "\e954";
}
.ill-icon-feather:before {
    content: "\e955";
}
.ill-icon-file-minus:before {
    content: "\e956";
}
.ill-icon-file-plus:before {
    content: "\e957";
}
.ill-icon-file-text:before {
    content: "\e958";
}
.ill-icon-file:before {
    content: "\e959";
}
.ill-icon-film:before {
    content: "\e95a";
}
.ill-icon-filter:before {
    content: "\e95b";
}
.ill-icon-flag:before {
    content: "\e95c";
}
.ill-icon-folder:before {
    content: "\e95d";
}
.ill-icon-github:before {
    content: "\e95e";
}
.ill-icon-gitlab:before {
    content: "\e95f";
}
.ill-icon-globe:before {
    content: "\e960";
}
.ill-icon-grid:before {
    content: "\e961";
}
.ill-icon-hash:before {
    content: "\e962";
}
.ill-icon-headphones:before {
    content: "\e963";
}
.ill-icon-heart:before {
    content: "\e964";
}
.ill-icon-home:before {
    content: "\e965";
}
.ill-icon-image:before {
    content: "\e966";
}
.ill-icon-inbox:before {
    content: "\e967";
}
.ill-icon-info:before {
    content: "\e968";
}
.ill-icon-instagram:before {
    content: "\e969";
}
.ill-icon-layers:before {
    content: "\e96a";
}
.ill-icon-layout:before {
    content: "\e96b";
}
.ill-icon-life-buoy:before {
    content: "\e96c";
}
.ill-icon-link-2:before {
    content: "\e96d";
}
.ill-icon-link:before {
    content: "\e96e";
}
.ill-icon-list:before {
    content: "\e96f";
}
.ill-icon-loader:before {
    content: "\e970";
}
.ill-icon-lock:before {
    content: "\e971";
}
.ill-icon-log-in:before {
    content: "\e972";
}
.ill-icon-log-out:before {
    content: "\e973";
}
.ill-icon-mail:before {
    content: "\e974";
}
.ill-icon-map-pin:before {
    content: "\e975";
}
.ill-icon-map:before {
    content: "\e976";
}
.ill-icon-maximize-2:before {
    content: "\e977";
}
.ill-icon-maximize:before {
    content: "\e978";
}
.ill-icon-menu:before {
    content: "\e979";
}
.ill-icon-message-circle:before {
    content: "\e97a";
}
.ill-icon-message-square:before {
    content: "\e97b";
}
.ill-icon-mic-off:before {
    content: "\e97c";
}
.ill-icon-mic:before {
    content: "\e97d";
}
.ill-icon-minimize-2:before {
    content: "\e97e";
}
.ill-icon-minimize:before {
    content: "\e97f";
}
.ill-icon-minus-circle:before {
    content: "\e980";
}
.ill-icon-minus-square:before {
    content: "\e981";
}
.ill-icon-minus:before {
    content: "\e982";
}
.ill-icon-monitor:before {
    content: "\e983";
}
.ill-icon-moon:before {
    content: "\e984";
}
.ill-icon-more-horizontal:before {
    content: "\e985";
}
.ill-icon-more-vertical:before {
    content: "\e986";
}
.ill-icon-move:before {
    content: "\e987";
}
.ill-icon-music:before {
    content: "\e988";
}
.ill-icon-navigation-2:before {
    content: "\e989";
}
.ill-icon-navigation:before {
    content: "\e98a";
}
.ill-icon-octagon:before {
    content: "\e98b";
}
.ill-icon-package:before {
    content: "\e98c";
}
.ill-icon-paperclip:before {
    content: "\e98d";
}
.ill-icon-pause-circle:before {
    content: "\e98e";
}
.ill-icon-pause:before {
    content: "\e98f";
}
.ill-icon-percent:before {
    content: "\e990";
}
.ill-icon-phone-call:before {
    content: "\e991";
}
.ill-icon-phone-forwarded:before {
    content: "\e992";
}
.ill-icon-phone-incoming:before {
    content: "\e993";
}
.ill-icon-phone-missed:before {
    content: "\e994";
}
.ill-icon-phone-off:before {
    content: "\e995";
}
.ill-icon-phone-outgoing:before {
    content: "\e996";
}
.ill-icon-phone:before {
    content: "\e997";
}
.ill-icon-pie-chart:before {
    content: "\e998";
}
.ill-icon-play-circle:before {
    content: "\e999";
}
.ill-icon-play:before {
    content: "\e99a";
}
.ill-icon-plus-circle:before {
    content: "\e99b";
}
.ill-icon-plus-square:before {
    content: "\e99c";
}
.ill-icon-plus:before {
    content: "\e99d";
}
.ill-icon-pocket:before {
    content: "\e99e";
}
.ill-icon-power:before {
    content: "\e99f";
}
.ill-icon-printer:before {
    content: "\e9a0";
}
.ill-icon-radio:before {
    content: "\e9a1";
}
.ill-icon-refresh-ccw:before {
    content: "\e9a2";
}
.ill-icon-refresh-cw:before {
    content: "\e9a3";
}
.ill-icon-repeat:before {
    content: "\e9a4";
}
.ill-icon-rewind:before {
    content: "\e9a5";
}
.ill-icon-rotate-ccw:before {
    content: "\e9a6";
}
.ill-icon-rotate-cw:before {
    content: "\e9a7";
}
.ill-icon-save:before {
    content: "\e9a8";
}
.ill-icon-scissors:before {
    content: "\e9a9";
}
.ill-icon-search:before {
    content: "\e9aa";
}
.ill-icon-server:before {
    content: "\e9ab";
}
.ill-icon-settings:before {
    content: "\e9ac";
}
.ill-icon-share-2:before {
    content: "\e9ad";
}
.ill-icon-share:before {
    content: "\e9ae";
}
.ill-icon-shield:before {
    content: "\e9af";
}
.ill-icon-shuffle:before {
    content: "\e9b0";
}
.ill-icon-sidebar:before {
    content: "\e9b1";
}
.ill-icon-skip-back:before {
    content: "\e9b2";
}
.ill-icon-skip-forward:before {
    content: "\e9b3";
}
.ill-icon-slack:before {
    content: "\e9b4";
}
.ill-icon-slash:before {
    content: "\e9b5";
}
.ill-icon-sliders:before {
    content: "\e9b6";
}
.ill-icon-smartphone:before {
    content: "\e9b7";
}
.ill-icon-speaker:before {
    content: "\e9b8";
}
.ill-icon-square:before {
    content: "\e9b9";
}
.ill-icon-star:before {
    content: "\e9ba";
}
.ill-icon-stop-circle:before {
    content: "\e9bb";
}
.ill-icon-sun:before {
    content: "\e9bc";
}
.ill-icon-sunrise:before {
    content: "\e9bd";
}
.ill-icon-sunset:before {
    content: "\e9be";
}
.ill-icon-tablet:before {
    content: "\e9bf";
}
.ill-icon-tag:before {
    content: "\e9c0";
}
.ill-icon-target:before {
    content: "\e9c1";
}
.ill-icon-thermometer:before {
    content: "\e9c2";
}
.ill-icon-thumbs-down:before {
    content: "\e9c3";
}
.ill-icon-thumbs-up:before {
    content: "\e9c4";
}
.ill-icon-toggle-left:before {
    content: "\e9c5";
}
.ill-icon-toggle-right:before {
    content: "\e9c6";
}
.ill-icon-trash-2:before {
    content: "\e9c7";
}
.ill-icon-trash:before {
    content: "\e9c8";
}
.ill-icon-trending-down:before {
    content: "\e9c9";
}
.ill-icon-trending-up:before {
    content: "\e9ca";
}
.ill-icon-triangle:before {
    content: "\e9cb";
}
.ill-icon-tv:before {
    content: "\e9cc";
}
.ill-icon-twitter:before {
    content: "\e9cd";
}
.ill-icon-type:before {
    content: "\e9ce";
}
.ill-icon-umbrella:before {
    content: "\e9cf";
}
.ill-icon-unlock:before {
    content: "\e9d0";
}
.ill-icon-upload-cloud:before {
    content: "\e9d1";
}
.ill-icon-upload:before {
    content: "\e9d2";
}
.ill-icon-user-check:before {
    content: "\e9d3";
}
.ill-icon-user-minus:before {
    content: "\e9d4";
}
.ill-icon-user-plus:before {
    content: "\e9d5";
}
.ill-icon-user-x:before {
    content: "\e9d6";
}
.ill-icon-user:before {
    content: "\e9d7";
}
.ill-icon-users:before {
    content: "\e9d8";
}
.ill-icon-video-off:before {
    content: "\e9d9";
}
.ill-icon-video:before {
    content: "\e9da";
}
.ill-icon-voicemail:before {
    content: "\e9db";
}
.ill-icon-volume-1:before {
    content: "\e9dc";
}
.ill-icon-volume-2:before {
    content: "\e9dd";
}
.ill-icon-volume-x:before {
    content: "\e9de";
}
.ill-icon-volume:before {
    content: "\e9df";
}
.ill-icon-watch:before {
    content: "\e9e0";
}
.ill-icon-wifi-off:before {
    content: "\e9e1";
}
.ill-icon-wifi:before {
    content: "\e9e2";
}
.ill-icon-wind:before {
    content: "\e9e3";
}
.ill-icon-x-circle:before {
    content: "\e9e4";
}
.ill-icon-x-square:before {
    content: "\e9e5";
}
.ill-icon-x:before {
    content: "\e9e6";
}
.ill-icon-zap:before {
    content: "\e9e7";
}
.ill-icon-zoom-in:before {
    content: "\e9e8";
}
.ill-icon-zoom-out:before {
    content: "\e9e9";
}
