/**
 * GitHub Gist Theme
 * Author : Anthony Attard - https://github.com/AnthonyAttard
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
    color: #969896;
}

.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
    color: #d73a49;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
    color: #0086b3;
}

.hljs-section,
.hljs-name {
    color: #63a35c;
}

.hljs-tag {
    color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #6f42c1;
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea;
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
}

.hljs-link {
    text-decoration: underline;
}

.hljs-number {
    color: #005cc5;
}

.hljs-string {
    color: #032f62;
}

/* Highlight MkDocs */
:root{
    --md-code-hl-operator-color:#0086b3;
    --md-code-hl-punctuation-color:#0086b3;
    --md-code-hl-string-color:#032f62;
    --md-code-hl-special-color:#6f42c1;
    --md-code-hl-number-color:#005cc5;
    --md-code-hl-keyword-color:#d73a49;
    --md-code-hl-name-color:#63a35c;
    --md-code-hl-constant-color:#df5000;
    --md-code-hl-function-color:#6f42c1;
    --md-code-hl-comment-color:#969896;
    --md-code-hl-variable-color:#df5000;
    --md-code-hl-generic-color:#333333;
}

.highlight .o,
.highlight .ow {
    color:var(--md-code-hl-operator-color)
}
.highlight .p {
    color:var(--md-code-hl-punctuation-color)
}
.highlight .cpf,
.highlight .l,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .si,
.highlight .ss {
    color:var(--md-code-hl-string-color)
}
.highlight .cp,
.highlight .se,
.highlight .sh,
.highlight .sr,
.highlight .sx {
    color:var(--md-code-hl-special-color)
}
.highlight .il,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
    color:var(--md-code-hl-number-color)
}
.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
    color:var(--md-code-hl-keyword-color)
}
.highlight .kc,
.highlight .n {
    color:var(--md-code-hl-name-color)
}
.highlight .bp,
.highlight .nb,
.highlight .no {
    color:var(--md-code-hl-constant-color)
}
.highlight .nc,
.highlight .ne,
.highlight .nf,
.highlight .nn {
    color:var(--md-code-hl-function-color)
}
.highlight .nd,
.highlight .ni,
.highlight .nl,
.highlight .nt {
    color:var(--md-code-hl-keyword-color)
}
.highlight .c,
.highlight .c1,
.highlight .ch,
.highlight .cm,
.highlight .cs,
.highlight .sd {
    color:var(--md-code-hl-comment-color)
}
.highlight .na,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color:var(--md-code-hl-variable-color)
}
.highlight .ge,
.highlight .gh,
.highlight .go,
.highlight .gp,
.highlight .gr,
.highlight .gs,
.highlight .gt,
.highlight .gu {
    color:var(--md-code-hl-generic-color)
}
