<h1 style="text-align:center;">Charte MOOC</h1>
<section class="styleguide-section">
  <h2 class="styleguide-title">Couleurs</h2>
  <div class="styleguide-content">
    <div class="styleguide-color" style="background:#e63312;">#e63312</div>
    <div class="styleguide-color" style="background:#fef1ef;color:#e63312;">#fef1ef</div>
    <div class="styleguide-color" style="background:#40455a;">#40455a</div>
    <div class="styleguide-color" style="background:#c4c7d5;">#c4c7d5</div>
    <div class="styleguide-color" style="background:#eeeff3;color:#40455a;">#eeeff3</div>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Icônes</h2>
  <div class="styleguide-content">
    <p>Librarie libre et open-source d'icônes : <a href="https://feathericons.com/" target="_blank">https://feathericons.com/</a></p>
    <p>
      <b>Exemple : </b> <br/>
      <i class="ill-icon ill-icon-gitlab"></i> = <code>&lt;i class=&quot;ill-icon ill-icon-gitlab&quot;&gt;&lt;/i&gt;</code>
    </p>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Typographie</h2>
  <div class="styleguide-content">
    <h1>Titre 1</h1>
    <h2>Titre 2</h2>
    <h3>Titre 3</h3>
    <h4>Titre 4</h4>
    <h5>Titre 5</h5>
    <h6>Titre 6</h6>
  </div>

  <div class="styleguide-content">
    <p>
      <b>Paragraphe :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quos reiciendis sed.
      Adipisci eaque facilis, iure iusto maiores molestias obcaecati quaerat quas quis sapiente, sint tempora
      temporibus, totam voluptas ?
    </p>
  </div>

  <div class="styleguide-content">
    <ul>
      <li>List item 1</li>
      <li>List item 1</li>
      <ul>
        <li>List item 2</li>
        <ul>
          <li>List item 3</li>
          <li>List item 3 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos necessitatibus odit unde.
            Accusantium adipisci asperiores, assumenda beatae commodi eligendi ipsam minima mollitia nemo numquam
            odit pariatur quam quibusdam quidem rerum.</li>
        </ul>
        <li>List item 2</li>
        <li>List item 2</li>
      </ul>
      <li>List item 1</li>
    </ul>
  </div>

  <div class="styleguide-content">
    <ol>
      <li>List item 1</li>
      <li>List item 1</li>
      <ol>
        <li>List item 2</li>
        <ol>
          <li>List item 3</li>
          <li>List item 3</li>
        </ol>
        <li>List item 2</li>
        <li>List item 2</li>
      </ol>
      <li>List item 1</li>
    </ol>
  </div>

  <h2 class="styleguide-title">Images et figures</h2>
  <div class="styleguide-content">
    <p>
      <img src="https://img.icons8.com/dusk/64/000000/contract.png" width="20px" height="20px"> Get your degree <a href="#">here</a>
    </p>
  </div>
  <div class="styleguide-content">
    <figure>
      <img src="https://vignette.wikia.nocookie.net/fr.starwars/images/e/e3/Ferme_des_Lars.png/revision/latest?cb=20160430114935">
      <figcaption>Ferme des Lars, Tatooine</figcaption>
    </figure>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Bannières</h2>
  <div class="styleguide-content">
    <h1 class="title-banner">
      <span>Titre 1 bannière</span>
    </h1>
  </div>
  <div class="styleguide-content">
    <h2 class="title-banner">
      <i class="ill-icon ill-icon-video"></i>
      <span>Titre 2 bannière + icon</span>
    </h2>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Tableaux</h2>
  <div class="styleguide-content">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Release date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>The Shawshank Redemption</td>
        <td>Crime, Drama</td>
        <td>14 October 1994</td>
      </tr>
      <tr>
        <td>The Godfather</td>
        <td>Crime, Drama</td>
        <td>24 March 1972</td>
      </tr>
      <tr>
        <td>Schindler's List</td>
        <td>Biography, Drama, History</td>
        <td>4 February 1994</td>
      </tr>
      <tr>
        <td>Se7en</td>
        <td>Crime, Drama, Mystery</td>
        <td>22 September 1995</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="styleguide-content">
    <table class="striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Release date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>The Shawshank Redemption</td>
        <td>Crime, Drama</td>
        <td>14 October 1994</td>
      </tr>
      <tr>
        <td>The Godfather</td>
        <td>Crime, Drama</td>
        <td>24 March 1972</td>
      </tr>
      <tr>
        <td>Schindler's List</td>
        <td>Biography, Drama, History</td>
        <td>4 February 1994</td>
      </tr>
      <tr>
        <td>Se7en</td>
        <td>Crime, Drama, Mystery</td>
        <td>22 September 1995</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Boutons</h2>
  <div class="styleguide-content">
    <button class="btn">Bouton par defaut</button>
    <button class="btn btn-primary">Bouton important</button>
    <br/>
    <button class="btn btn-blue">Bouton bleu</button>
    <button class="btn btn-blue btn-primary">Bouton bleu important</button>
    <br/>
    <button class="btn btn-blue"><i class="ill-icon ill-icon-download"></i><span>Télécharger</span></button>
    <button class="btn btn-blue btn-primary"><i class="ill-icon ill-icon-film"></i><span>Télécharger vidéo</span></button>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Alertes</h2>
  <div class="styleguide-content">
    <div class="ill-alert">
      <i class="ill-icon ill-icon-alert-triangle"></i>
      <p>
        <b>Message important :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium
        ad animi aperiam blanditiis consequuntur delectus doloribus, error et impedit minus, nam nobis nostrum nulla
        omnis perferendis saepe, vero?
      </p>
    </div>
  </div>
  <div class="styleguide-content">
    <div class="ill-alert alert-grey">
      <i class="ill-icon ill-icon-message-square"></i>
      <p>
        <b>Message important :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium
        ad animi aperiam blanditiis consequuntur delectus doloribus, error et impedit minus, nam nobis nostrum nulla
        omnis perferendis saepe, vero?
      </p>
    </div>
  </div>
  <div class="styleguide-content">
    <div class="ill-alert alert-blue">
      <i class="ill-icon ill-icon-info"></i>
      <p>
        <b>Message info :</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium
        ad animi aperiam blanditiis consequuntur delectus doloribus, error et impedit minus, nam nobis nostrum nulla
        omnis perferendis saepe, vero?
      </p>
    </div>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Accordéons</h2>
  <div class="styleguide-content">
    <details>
      <summary>Français</summary>
      <p>
        Dans cette vidéo, nous vous présentons quelques exemples récents de travaux dont les résultats ont été
        particulièrement controversés et discutés. Ils illustrent à quel point la capacité à pouvoir inspecter
        les méthodes utilisées pour produire tel ou tel résultat est essentielle.
      </p>
    </details>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Composant auteurs</h2>
  <div class="styleguide-content">
    <h4 class="title-banner">
      <i class="ill-icon ill-icon-user"></i>
      <span>Auteurs</span>
    </h4>
    <div class="author">
      <div class="author-img">
        <img src="https://vignette.wikia.nocookie.net/swfans/images/0/0c/ChewbaccaROTS.jpg/revision/latest/scale-to-width-down/250?cb=20130727035054" />
      </div>
      <div class="author-text">
        <h6>Chewbacca</h6>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum cupiditate deleniti doloribus, eum
        fugit harum laborum necessitatibus nesciunt quae reiciendis rem rerum, sunt temporibus voluptas voluptatibus
        voluptatum. Vitae, voluptatum.
      </div>
    </div>
    <div class="author">
      <div class="author-img">
        <img src="https://vignette.wikia.nocookie.net/fr.starwars/images/4/48/Han_Solo.jpg/revision/latest?cb=20160514115511" />
      </div>
      <div class="author-text">
        <h6>Han Solo</h6>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum cupiditate deleniti doloribus, eum
        fugit harum laborum necessitatibus nesciunt quae reiciendis rem rerum, sunt temporibus voluptas voluptatibus
        voluptatum. Vitae, voluptatum.
      </div>
    </div>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Composant "En bref"</h2>
  <div class="styleguide-content">
    <h4 class="title-banner">
      <i class="ill-icon ill-icon-feather"></i>
      <span>En bref</span>
    </h4>
    <div class="in-brief">
      <div class="brief">
        <div class="brief-img">
          <i class="ill-icon ill-icon-calendar"></i>
        </div>
        <div class="brief-text">
          <p><b>Date d'ouverture :</b> 31 février 2042</p>
        </div>
      </div>
      <div class="brief">
        <div class="brief-img">
          <i class="ill-icon ill-icon-clock"></i>
        </div>
        <div class="brief-text">
          <p>
            <b>Temps d'investissement : </b> 1h à 2h<br/>
            <i>Ce temps est donné à titre d'indication.</i>
          </p>
        </div>
      </div>
      <div class="brief">
        <div class="brief-img">
          <i class="ill-icon ill-icon-check"></i>
        </div>
        <div class="brief-text">
          <ul>
            <li>Découverte de la galaxie très lointaine</li>
            <li>Devenir un padawan</li>
            <li>Apprendre à piloter un faucon milenium</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="styleguide-section">
  <h2 class="styleguide-title">Composant Bilingue</h2>
  <div class="styleguide-content">
    <div class="ill-lang">
      <div class="ill-lang-wrapper">
        <span><i class="ill-icon ill-icon-globe"></i></span>
        <label><input type="radio" name="ill-lang" class="set-lang" data-lang="fr"/><span>FR</span></label>
        <label><input type="radio" name="ill-lang" class="set-lang" data-lang="en"/><span>EN</span></label>
      </div>
    </div>
  </div>
  <div class="styleguide-content">
    <h4 class="title-banner">
      <i class="ill-icon ill-icon-video"></i>
      <span class="text-fr">Configurer git pour Gitlab </span>
      <span class="text-en">Configure git for Gitlab </span>(8'26'')
    </h4>
  </div>
  <div class="styleguide-content">
    <p class="text-fr">Cette vid&eacute;o explique comment configurer Git sur sa machine afin de faciliter les interactions avec Gitlab. Ce tutoriel est indispensable pour ceux qui ont choisi les parcours RStudio et Org-mode.</p>
    <p class="text-en">This video explains how to configure Git on your computer to facilitate interactions with Gitlab. This tutorial is essential for those who have chosen the RStudio and Org-mode courses.</p>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
  (function($) {
    $(document).on('click', '.styleguide-content', function() {
      var html = process($(this).html().replace(/[\n\t]/g, ' ').replace(/\s\s+/g, ' '));
      dialogCode(html)
    });

    function dialogCode(str){
      console.log(str);
      Swal.fire({
        title: 'Code :',
        input: 'textarea',
        inputValue: str,
        inputAttributes: {
          height: '400'
        },
        width: '70%'
      });
    }

    function process(str) {

      var div = document.createElement('div');
      div.innerHTML = str.trim();

      return format(div, 0).innerHTML;
    }

    function format(node, level) {

      var indentBefore = new Array(level++ + 1).join('  '),
        indentAfter  = new Array(level - 1).join('  '),
        textNode;

      for (var i = 0; i < node.children.length; i++) {

        textNode = document.createTextNode('\n' + indentBefore);
        node.insertBefore(textNode, node.children[i]);

        format(node.children[i], level);

        if (node.lastElementChild === node.children[i]) {
          textNode = document.createTextNode('\n' + indentAfter);
          node.appendChild(textNode);
        }
      }

      return node;
    }
  })(jQuery);
</script>
