@import 'fonts';
@import 'hljs';

$inria-red : #e63312;
$inria-red-bg : lighten($inria-red, 48%);
$inria-blue : #40455a;
$inria-blue-border : lighten($inria-blue, 50%);
$inria-blue-bg : lighten($inria-blue, 64%);
$inria-grey : #eeeff3;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav {
  z-index: 9;

}


// Workaround border bug Mathjax < 2.5 cf : https://github.com/mathjax/MathJax/issues/1300
.MathJax span{
  border-left: 0!important;;
}

div.course-wrapper section.course-content div#seq_content .xblock-student_view-html,
div.course-wrapper section.course-content div#seq_content .xblock-student_view-problem,
div#content .xblock-student_view-static_tab,
.studio-xblock-wrapper .xblock-student_view{

  *{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  .fa, .fab {
    font-family: 'FontAwesome', sans-serif;
    font-style: normal;
  }

  &.xblock-student_view{
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }

  @for $i from 1 through 6 {
    h#{7 - $i} {
      font-size: pow(1.125, $i) * 16px;
      font-weight: 700;
      line-height: 1;
      color:$inria-blue;
      margin: 0 0 .5em 0;
      padding: 0;
      text-transform: unset;
    }

    * + h#{7 - $i} {
      margin-top: 1em;
    }
  }

  .ill-icon, .fa{
    font-style: normal!important;
  }

  p, ul, ol, table, .author{
    margin: 0 0 1em 0;
    line-height: 1.4;
    color: $inria-blue;
  }

  figure {
    margin: 0 0 1.5em 0;
    line-height: 1.4;
    color: $inria-blue;

    img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
    }

    figcaption {
      font: italic smaller sans-serif;
      padding: 3px;
      text-align: center;
    }
  }

  a:not(.instructor-info-action){
    color:$inria-red;
  }

  ul {
    list-style: none;
    padding-left: 1.5em;

    li *:last-child{
      margin-bottom: 0;
    }

    > li{
      margin-bottom: 0;
      &:before {
        content: "⬤";
        float:left;
        color: $inria-red;
        font-family: "Inria Sans", sans-serif;
        font-size: 6px;
        margin-right: 8px;
        margin-left: -15px;
      }
    }

    ul{
      margin-bottom: 0;

      li{
        &:before {
          content: ">";
          font-size: 1em;
        }
      }

      ul{
        li{
          &:before {
            content: "-";
            font-size: 1em;
            color: $inria-blue;
          }
        }
      }
    }
  }

  ol{
    padding-left: .8em;

    li{
      padding-left: .2em;
    }

    ol{
      margin-bottom: 0;
      list-style: lower-alpha;

      ol{
        list-style: lower-roman;
      }
    }
  }

  .title-banner{
    position: relative;
    margin: .5em 0 .5em 0;
    padding: 8px;
    font-weight: 600;
    color: white;
    line-height: 1;
    background: $inria-blue;

    &:before{
      content: '';
      width: 1em;
      height: 1em;
      position:absolute;
      top: -0.2em;
      left: -0.2em;
      background: $inria-red;
    }

    &:after{
      content: '';
      position:absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $inria-blue;
    }

    i{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: .2em;
      line-height: 1;
      z-index: 1;

      &:last-child{
        margin-right: 0;
      }
    }

    span{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      z-index: 1;
    }

    i + span{
      max-width: calc(100% - 1.5em);
    }

    .toolbar{
      position: absolute;
      display: block;
      top: 50%;
      right: 8px;
      z-index: 1;
      transform: translateY(-50%);

      .btn, button{
        display: block;
      }
    }

    .btn, button{
      display: inline-flex;
      position: relative;
      margin:0;
      font-size: 15px;
      z-index: 1;
    }

    &.ill-fullscreen{
      position: fixed;
      top:0;
      left:0;
      right:0;
      margin:0;
      z-index: 99999;
    }
  }

  .md-content__button {
    float: right;
    margin: .4rem 0 .4rem .4rem;
    padding: 0;
    fill: $inria-blue;

    svg{
      width:1.2em;
    }

    &:hover{
      fill: $inria-red;
    }
  }

  .md-content__button ~ details {
    clear: both;
  }

  table{
    position: relative;
    width:100%;
    margin-bottom: 1em;
    text-align: left;
    border-collapse: collapse;
    border:none;

    th{
      position: relative;
      padding: .4em .4em .4em .4em;
      font-weight: bold;
      color:$inria-blue;
      background: #f8f8f8;
      border: 1px solid $inria-blue-border;
      z-index: 1;
    }

    td{
      padding: .4em .4em .4em .4em;
      border: 1px solid $inria-blue-border;
    }

    &.striped{
      tr:nth-of-type(2n+1){
        background: $inria-blue-bg;
      }
    }
  }

  button, .btn{
    margin-bottom: 5px;
    padding: .4em .4em .4em .4em;
    height:auto;
    font-size: 20px;
    font-weight: normal;
    text-shadow: none;
    line-height: 1;
    text-transform: unset;
    color:$inria-red;
    border: 1px solid $inria-red;
    border-radius: 2px;
    background: white;
    box-shadow: none;
    cursor: pointer;
    transition: all .3s ease;

    &:hover{
      background: $inria-red-bg;
    }

    &.btn-primary, &.check{
      background: $inria-red;
      color:white;
    }

    &.check{
      &:before{
        content: "\e926";
        display: inline-block;
        vertical-align: middle;
        margin-right: .4em;
        font-family: 'feather' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.show{
      &:before{
        content: "\e952";
        display: inline-block;
        vertical-align: middle;
        margin-right: .4em;
        font-family: 'feather' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.btn-blue{
      border: 1px solid $inria-blue;
      color:$inria-blue;
      background: white;

      &:hover{
        background: $inria-blue-bg;
      }

      &.btn-primary{
        background: $inria-blue;
        color:white;
      }
    }

    i{
      display: inline-block;
      vertical-align: middle;
      margin-right: .4em;
      font-weight: normal;
      text-shadow: none;
      line-height: 1;
      text-transform: unset;
    }

    span{
      display: inline-block;
      vertical-align: middle;
      font-weight: normal;
      text-shadow: none;
      line-height: 1;
      text-transform: unset;
    }
  }

  pre{
    padding: 5px;
    background:#f5f5f5;
    font-family: monospace, serif !important;

    code{
      padding:0;
    }

    &.example{
      padding-left: 2em;
      &:before {
        content: "output >";
        display: block;
        font-family: monospace;
        color: #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
        margin-left: -2em;
      }
    }
  }

  p.output{
    position: relative;
    overflow: visible;
    margin-left: 3em;
    padding: 5px;
    background: #fafae2 !important;

    &:before{
      content: 'Out:';
      position: absolute;
      left: -3em;
      overflow: visible;
    }
  }

  code{
    font-family: monospace, serif !important;
    font-size: 0.9em;
    padding: 2px 5px;
    background:#f5f5f5;
    text-decoration: none;

    a.sourceLine {
      display: inline-block;
      pointer-events: none;
      line-height: 1.25;
      font-family: inherit;
      color: inherit;
      text-decoration: inherit;

      &:hover{
        color: inherit;
        text-decoration: inherit;
      }

      &:empty {
        height: 1.2em;
      }
    }

    .sourceCode {
      overflow: visible;
    }
    &.sourceCode {
      white-space: pre;
      position: relative;
    }
    div.sourceCode {
      margin: 1em 0;
    }
    pre.sourceCode {
      margin: 0;
    }
    @media screen {
      div.sourceCode { overflow: auto; }
    }

    pre.numberSource a.sourceLine{
      position: relative; left: -4em;
    }
    pre.numberSource a.sourceLine::before {
      content: attr(title);
      position: relative; left: -1em; text-align: right; vertical-align: baseline;
      border: none; pointer-events: all; display: inline-block;
      -webkit-touch-callout: none; -webkit-user-select: none;
      -khtml-user-select: none; -moz-user-select: none;
      -ms-user-select: none; user-select: none;
      padding: 0 4px; width: 4em;
      color: #aaaaaa;
    }
    pre.numberSource {
      margin-left: 3em;
      border-left: 1px solid #aaaaaa;
      padding-left: 4px; }

    @media screen {
      a.sourceLine::before { text-decoration: underline; }
    }

    span.al { color: #ff0000; font-weight: bold; } /* Alert */
    span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
    span.at { color: #7d9029; } /* Attribute */
    span.bn { color: #40a070; } /* BaseN */
    span.bu { } /* BuiltIn */
    span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
    span.ch { color: #4070a0; } /* Char */
    span.cn { color: #880000; } /* Constant */
    span.co { color: #60a0b0; font-style: italic; } /* Comment */
    span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
    span.do { color: #ba2121; font-style: italic; } /* Documentation */
    span.dt { color: #902000; } /* DataType */
    span.dv { color: #40a070; } /* DecVal */
    span.er { color: #ff0000; font-weight: bold; } /* Error */
    span.ex { } /* Extension */
    span.fl { color: #40a070; } /* Float */
    span.fu { color: #06287e; } /* Function */
    span.im { } /* Import */
    span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
    span.kw { color: #007020; font-weight: bold; } /* Keyword */
    span.op { color: #666666; } /* Operator */
    span.ot { color: #007020; } /* Other */
    span.pp { color: #bc7a00; } /* Preprocessor */
    span.sc { color: #4070a0; } /* SpecialChar */
    span.ss { color: #bb6688; } /* SpecialString */
    span.st { color: #4070a0; } /* String */
    span.va { color: #19177c; } /* Variable */
    span.vs { color: #4070a0; } /* VerbatimString */
    span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
  }

  .ill-alert{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0;
    background: $inria-red;

    .ill-icon{
      min-width: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      color:white;
    }

    p, ul, ol, div{
      padding: 1em;
      margin: 0;
      font-size: 16px;
      color:white;
    }

    .ill-icon + p, .ill-icon + *{
      padding:5px;
    }

    &.alert-blue{
      background: $inria-blue;
    }

    &.alert-grey{
      background: $inria-grey;

      div, p, ul, ol, .ill-icon, .ill-icon + * {
        color: $inria-blue;
      }
    }
  }

  .accordion{
    margin-bottom: 1em;
    color: $inria-blue;

    i{
      display: inline-block;
      transition: transform .25s;
    }

    .accordion-header{
      display: block;
      border-bottom: 1px solid $inria-blue-border;
      cursor: pointer;
    }

    .accordion-body {
      padding: 0;
      max-height: 0;
      overflow: hidden;
      background: $inria-blue-bg;
    }

    input:checked ~ .accordion-body{
      max-height: 150rem;
      padding: .5rem;
    }

    input:checked ~ .accordion-header i{
      transform: rotate(90deg);
    }
  }

  details, .admonition{
    position: relative;
    margin: 1em 0;
    color: $inria-blue;
    border: 1px solid $inria-blue-border;

    p{
      padding: 0 1em;
    }

    &:last-child{
      margin-bottom: 0;
    }

    summary, .admonition-title{
      position: relative;
      display: block;
      min-height: 1em;
      padding: .3em 2em;
      margin:0;
      border-radius: 3px;
      font-weight: bold;
      color:$inria-blue;
      cursor: pointer;

      &:before, &:after{
        display: inline-block;
        position: absolute;
        top: .5rem;
        left: .4rem;
        font-family: 'feather' !important;
        speak: none;
        font-size: 1.2em;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:before{
        content: '\e99d';
      }

      & + * {
        padding-top: 1em;
        border-top: 1px solid $inria-blue-border;
      }
    }

    summary:after {
      content: "\e929";
      left: auto;
      right: .4em;
    }

    &[open] > summary:after {
      transform: rotate(90deg);
    }

    &.note{
      summary, .admonition-title{
        background-color: rgba(68,138,255,.1);
        &:before{
          content: "\e94d";
          color:rgba(68,138,255,1);
        }
      }
    }

    &.abstract{
      summary, .admonition-title{
        background-color: #00b0ff1a;
        &:before{
          content: "\e931";
          color:#00b0ff;
        }
      }
    }

    &.info{
      summary, .admonition-title{
        background-color: rgba(0,184,212,.1);
        &:before {
          content: "\e968";
          color:rgba(0,184,212,1);
        }
      }
    }

    &.bug{
      summary, .admonition-title{
        background-color: #f500571a;
        &:before {
          content: "\e934";
          color:#f50057;
        }
      }
    }

    &.example{
      summary, .admonition-title{
        background-color: #7c4dff1a;
        &:before {
          content: "\e929";
          color:#7c4dff;
        }
      }
    }

    &.warning{
      summary, .admonition-title{
        background-color: rgba(255,145,0,.1);
        &:before {
          content: "\e904";
          color:rgba(255,145,0,1);
        }
      }
    }

    &.success{
      summary, .admonition-title{
        background-color: rgba(0,200,83,.1);
        &:before {
          content: "\e924";
          color:rgba(0,200,83,1);
        }
      }
    }

    &.error{
      summary, .admonition-title{
        background-color: rgba(255,82,82,.1);
        &:before {
          content: "\e904";
          color:rgba(255,82,82,1);
        }
      }
    }
  }

  .author{
    margin-bottom: 20px;
    font-size: 0;

    .author-img{
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;

      img{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:auto;
      }
    }
    .author-text{
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 100px);
      padding: .5em .5em .5em 1em;
      font-size: 14px;
    }
  }

  .in-brief{
    font-size: 0;
    .brief{
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      margin-bottom: 20px;

      .brief-img{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        background: $inria-red;

        i{
          font-size: 25px;
          line-height: 50px;
          color:white;
        }
      }
      .brief-text{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 50px);
        padding: .5em .5em .5em 1em;
        font-size: 16px;
      }
    }
  }

  .ill-lang{
    text-align: right;
    &-wrapper{
      display: inline-block;
      padding: .2em .5em .2em .5em;
      background: $inria-blue;
      color:white;
    }

    label, span{
      display: inline-block;
      vertical-align: middle;
      margin: 0 .2em;
      color:white;
    }

    input{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .xblock-student_view-lti{
    .problem-header{
      display:none;
    }

    .wrapper-lti-link{
      background: none;
    }

    .link_lti_new_window{
      display: block;
      max-width:500px;
      margin: 0 auto;
      padding: .4em .4em .4em .4em;
      text-align: center;
      font-size: 1.2em;
      color:white;
      text-shadow: none;
      box-shadow: none;
      background: $inria-blue none;
      border: 1px solid $inria-blue;

      &:hover{
        background: darken($inria-blue, 5%);
      }

      .icon{
        font-family: 'feather' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before{
          content: "\e950";
        }
      }
    }
  }

  .ill-video{
    position: relative;
    width:100%;
    padding-bottom: 56.25%;

    iframe{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

  .link-list{
    a{
      color:$inria-blue;

      &:after{
        content: "\e950";
        margin-left: 5px;
        font-family: 'feather' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: $inria-red;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:hover{
        color: $inria-red;
      }
    }
  }

  .problem{
    margin-bottom: 2em;
  }

  .container-fluid{
    .row{
      display: flex;
      flex-wrap: wrap;
      .col {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
      }
    }
  }

  /*[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;

    &:before,
    &:after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }

    &:before {
      position: absolute;
      bottom: 150%;
      left: 50%;
      margin-bottom: 5px;
      margin-left: -80px;
      padding: 7px;
      width: 160px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #000;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: #fff;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
    }

    &:after {
      position: absolute;
      bottom: 150%;
      left: 50%;
      margin-left: -5px;
      width: 0;
      border-top: 5px solid #000;
      border-top: 5px solid hsla(0, 0%, 20%, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    &:hover:before,
    &:hover:after {
      visibility: visible;
      opacity: 1;
    }
  }*/

  .copyCode{
    position:absolute;
    top:0;
    right:0;
    color: #aaa;
    cursor: pointer;

    &:hover {
      color: #3c3c3c;
    }
  }

  .highlight {

    pre {
      display: flow-root;
      padding: 0;
      margin:0;

      code {
        position: relative;
        display: block;
        font-size: 14px;
      }
    }

    & > pre {
      padding: 8px 10px;
    }

    .c1{
      color: #aaa;
    }

    .highlighttable {
      display: flow-root;
      direction: ltr;
      margin: 1em 0;
      width:auto;
      background: #f5f5f5;

      :is(tbody, td) {
        display: block;
        padding: 0;
      }

      tr{
        display: flex;
      }

      td {
        margin: 0;
        border:none;
      }

      .linenos {
        font-size: .85em;
        padding: 8px;
        border-right: 1px solid #ddd;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        text-align: right;

        span {
          color: #ccc;
        }
      }

      .code {
        flex: 1;
        padding: 8px 10px;
        min-width: 0;
      }
    }
  }

  .lienFichePortail{
    display:none;
  }

  @media screen and (min-width: 45em) {
    .inline{
      clear:both;
      float: left;
      width: 11.7rem;
      margin-bottom: .8rem;
      margin-top: 0;
      margin-right: .8rem;
      &.end {
        float: right;
        margin-left: .8rem;
        margin-right: 0;
      }
    }
  }
}

body.ill-fullscreen{
  overflow: hidden;
}

button.ill-fullscreen{
  position: fixed;
  top:5px;
  right:5px;
  padding: .4em .4em .4em .4em;
  margin:0;
  height:auto;
  font-size: 15px;
  font-weight: normal;
  text-shadow: none;
  line-height: 1;
  text-transform: unset;
  border: 1px solid $inria-red;
  border-radius: 2px;
  background: $inria-red;
  color:white;
  box-shadow: none;
  cursor: pointer;
  transition: all .3s ease;
  z-index: 11000;

  &:hover{
    background: $inria-red;
    box-shadow: none;
  }
}

iframe.ill-fullscreen {
  position: fixed!important;
  top: 45px!important;
  left: 0;
  z-index: 10000;
  bottom: 0;
  width: 100%;
  height: calc(100% - 38px) !important;
  background: #eeeeee;
}

